.App {
  height: 100vh !important;
  overflow: hidden;
}
body{
  background-color:#edf2f7;
}

.rowBox{
  display: flex;
}

.colBox{
  border-radius: 5px;
}
.custom-label input:checked + svg {
  display: block !important;
}

.container{
  display: flex;
  justify-content: center;
}

.panel-body{
  box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
  background-color: white;
  border-radius: 10px;

}

#chart-pie .panel-body{
  box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12) !important;
  height: 100%;
}

.quickInfo{
  height: 50%;
  margin:0;
  display: flex;
}
.quickInfo .panel{
  width: 100%
}
.quickInfo h1{
  margin-bottom: 20pxd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
